$primary_grey: #202936;
$primary_yellow: #FFE78D;
$secondary_white: #EFF3F4;
$text_white: #EFF3F4;
$text_grey: #202936;
$text_lightgrey: #888E95;

:export {
    primary_grey: $primary_grey;
    primary_yellow: $primary_yellow;
    secondary_white: $secondary_white;
    text_white: $text_white;
    text_grey: $text_grey;
    text_lightgrey:$text_lightgrey;
}
$navbar: "Segoe";
$widetitle: "Kiona";
$littletitle: "Boldstrom";
$text: "Calibri";
@font-face {
    font-family: 'Boldstrom';
    src: url('./Utils/Fonts/Boldstrom.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe';
    src: url('./Utils/Fonts/SegoeUIVF.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
  font-family: 'Kiona';
  src: url('./Utils/Fonts/Kiona.ttf');
  font-weight: 300;
  font-style: normal;
}
.app {
  margin: 0;
  padding: 0;
  background-image: url('./Public/img/background-homev2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $secondary_white;
  height: 100vh;
  body{
    margin: 0;
    padding: 0;
  }
}