@import '../../../styles.scss';

.container{
    background-color: $primary_yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 105vh;
    width: 100%;
    .preview_right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $primary_grey;
        border-radius: 25px 0px 0px 25px;
        height: 45%;
        width: 50%;
        .wcontain{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .img_blur{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 43%;
                .img1{
                    border-radius: 20px 0px 0px 20px;
                    z-index: 3;
                    width: 340px;
                    height: 80%;
                    background-color: antiquewhite;
                }
            }
            .div_txt{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 70%;
                margin-top: auto;
                margin-bottom: auto;
                gap: 20%;
                width: 33%;
                .title3_preview{
                    color: $text_white;
                    text-align: right;
                    font-weight: 500;
                }
                .p_preview{
                    color: $text_lightgrey;
                    text-align: right;
                }
            }
        }
    }

}
.imgtransition{
    background-image: url('../../../Public/img/img-transition.png');
    height: 495px;
    width: 100%;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -15%;
}

@media screen and (max-width: 925px) {
    .container{
        background-color: $primary_yellow;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        width: 100%;
        .preview_right{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $primary_grey;
            border-radius: 25px 0px 0px 25px;
            height: 50%;
            width: 80%;
            .wcontain{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .img_blur{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 53%;
                    .img1{
                        border-radius: 20px 0px 0px 20px;
                        z-index: 3;
                        height: 70%;
                        background-color: antiquewhite;
                    }
                }
                .div_txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 14px;
                    width: 33%;
                    .title3_preview{
                        color: $text_white;
                        text-align: right;
                        font-weight: 500;
                        font-size: 12px;
                    }
                    .p_preview{
                        color: $text_lightgrey;
                        text-align: right;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .imgtransition{
        
    }
}