@import '../../../styles.scss';
.container{
    height: 60vh;
    background-color: $primary_grey;
    display: flex;
    flex-direction: row;
    .text{
        display: flex;
        flex-direction: column;
        gap: 10%;
        height: 35%;
        width: 80%;
        margin: auto;
        color: $text_white;
        h2{
            font-family: 'Boldstrom';
            font-size: 42px;
            letter-spacing: 5px;
        }
        p{
            width: 30%;
            font-family: $text;
            font-size: 18px;
        }
    }
}