@import '../../../styles.scss';

@media screen and (max-width: 1025px){
    .container{
        height: 110vh;
        background-color: $primary_grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .items{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
            width: 90%;
            height: 50%;
            gap: 5%;
            .roadmap_h2{
                .title2_roadmap{
                    font-family: $littletitle;
                    font-size: 38px;
                    color: $text_white;
                    letter-spacing: 10px;
                    text-align: center;
                }
            }
            .img_roadmap{
                background-color: $primary_yellow;
                width: 85%;
                margin: auto;
                padding-top: 2%;
                padding-bottom: 18%;
                
                h3{
                    color: $text_grey;
                    font-family: $widetitle;
                    font-weight: bolder;
                    font-size: 1.5rem;
                    letter-spacing: 4px;
                    margin-left: 2%;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px){
    .container{
        height: 150vh;
        background-color: $primary_grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .items{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: auto;
            width: 80%;
            height: 50%;
            .roadmap_h2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title2_roadmap{
                    font-family: $littletitle;
                    font-size: 64px;
                    color: $text_white;
                    letter-spacing: 10px;
                    writing-mode: vertical-lr;
                    transform: rotate(-180deg);
                    text-align: center;
                }
            }
            .img_roadmap_1{
                background-color: $primary_yellow;
                background-image: url('../../../Public/img/roadmap_character.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    color: $text_grey;
                    font-family: $widetitle;
                    font-weight: bolder;
                    font-size: 34px;
                    letter-spacing: 5px;
                    height: 45%;
                    background: transparent linear-gradient(180deg, #FFE68C00 0%, #FFE68C 100%) 0% 0%;
                    opacity: 1;
                }
            }
            .img_roadmap_2{
                background-color: $primary_yellow;
                background-image: url('../../../Public/img/roadmap_character_2.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    color: $text_grey;
                    font-family: $widetitle;
                    font-weight: bolder;
                    font-size: 34px;
                    letter-spacing: 5px;
                    height: 45%;
                    background: transparent linear-gradient(180deg, #FFE68C00 0%, #FFE68C 100%) 0% 0%;
                    opacity: 1;
                }
            }
            .img_roadmap_3{
                background-color: $primary_yellow;
                background-image: url('../../../Public/img/roadmap_character.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
                h3{
                    color: $text_grey;
                    font-family: $widetitle;
                    font-weight: bolder;
                    font-size: 34px;
                    letter-spacing: 5px;
                    height: 45%;
                    background: transparent linear-gradient(180deg, #FFE68C00 0%, #FFE68C 100%) 0% 0%;
                    opacity: 1;
                }
            }
        }
    }
}