@import '../../styles.scss';
.container{
    height: 33vh;
    background-color: $primary_grey;
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .icons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 8%;
            color: $text_lightgrey;
        }
        p{
            text-align: center;
            color: $text_lightgrey;
        }
        a{
            background-color: $text_lightgrey;
            border-radius: 20px;
            width: 6%;
            height: 14%;
        }
    }
}
