@import '../../../styles.scss';


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $primary_yellow;
    .img{
        height: 70%;
    }
    .txt_container{
        display: flex;
        flex-direction: column;
        height: 25%;
        padding-top: 5%;
        font-family: $text;
        h3{
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
        p{
            font-size: 18px;
            width: 50%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;  
        }
    }
}