@import '../../../styles.scss';
@media screen and (min-width: 1025px){
    .container{
        height: 110vh;
        background-color: $secondary_white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 8%;

        .txt{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title2_whoweare{
                text-align: center;
                font-family: 'Boldstrom';
                font-size: 42px;
                letter-spacing: 5px;
            }
            .p_whoweare{
                text-align: center;
                color: $text_grey;
                font-weight: 500;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                font-size: 22px;
            }
        }
        .container_img_whoweare{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
@media screen and (max-width: 1025px){
    .container{
        height: 100vh;
        background-color: $secondary_white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .txt{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title2_whoweare{
                text-align: center;
                font-family: 'Boldstrom';
                font-size: 28px;
                letter-spacing: 5px;
            }
            .p_whoweare{
                width: 80%;
                text-align: center;
                color: $text_grey;
                font-weight: 500;
                font-size: 12px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .container_img_whoweare{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            gap: 14px;
            .img_whoweare{
                width: 6rem;
                height: 6rem;
                background-color: $primary_yellow;
                border: 6px solid $primary_grey;
            }
        }
    }
}