@import '../../styles.scss';
.header{
    width: 100%;
    //background-color: $primary_grey;
    .container{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        margin-right: auto;
        margin-left: auto;
    }
    .header_left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        .icon_home{
            width: 20px;
            height: 20px;
            color: $secondary_white;
            
        }
        .header_txt{
            align-self: flex-end;
            font-family: $navbar;
            letter-spacing: 0.2em;
            font-size: 13px;
            a{
                text-decoration: none;
                color: $text_white;
            }
        }
    }
    .header_right{
        width: 8%;
        align-self: center;
        .name{
            text-align: center;
            font-family: $littletitle;
            font-size: 22px;
            a{
                text-decoration: none;
                color: $text_white;
            }
        }
    }
}