@import '../../../styles.scss';
.linksbanner{
    width: 100%;
    height: 90vh;
    background-color: $primary_grey;
    background-image: url('../../../Public/img/background_text.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        .imgleft{
            z-index: 1;
            margin-right: -10%!important;
        }
        .imgmiddle{
            z-index: 2;
        }
        .imgright{
            z-index: 1;
            margin-left: -10%!important;
        }
    }
}
